@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  background: #E6E0CC;
  font-family: 'Comfortaa', cursive;
  margin: auto;
  width: 1280px;
}

section {
  background: #E6E0CC;
  color: #fff;
  padding: 1.5em;
  color: #BE785B;
  font-size:1.2em;
}

#follow {
  background: none;
}

.title {
    font-size:2em;
    text-align:center;
    padding-top:2em;
    text-transform: uppercase;
    color: #5E8681;
}

.subparagraph {
  color: #A28F86;
  font-size:0.6em;
  padding-top: 2em;
  float: right;
}

a:link,
a:visited {
  color: #964946;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
    list-style-type: none;
}


ul li {
    padding-bottom: 0.15em;
}

.slide-title {
    float: right;
    text-transform: uppercase;
    color: #5E8681;
    font-size: 0.9em;
}

.slide-body {
    text-transform: lowercase;
    text-align:center;
    padding-top:2.5em;
}

video, img {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 90%;
}

video+a, img+a{
  font-size: 0.8em;
}

.super-important {
    text-transform: uppercase;
    font-size: 2em;
    color: #964946;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}
